@import 'settings';
@import 'foundation';

table.btn-link {
  margin-bottom: 0;
  Margin-bottom: 0;
}

.button {
  &.expand, &.expanded {
    td:not(.expander) {
      width: 100%;
    }
  }
}

p.last-p {
  margin-bottom: 0;
  Margin-bottom: 0;
}

p.strong-p {
  font-size: 16px;
}

.line {
  .wrapper-inner {
    padding-left: $global-gutter;
    padding-right: $global-gutter;
  }
}

.news {
  a {
    text-decoration: underline;
    color: $black;
  }

  p.news__entity {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0;
    Margin-bottom: 0;
  }

  p.news__time {
    color: #666666;
    font-size: 12px;
    line-height: 1;
  }
}

.welcome {

  p.welcome__text {
    font-size: 16px;
  }

  p.welcome__download {
    margin-bottom: 0;
    Margin-bottom: 0;
  }

  .columns {
    padding-bottom: 0;
  }
}

.monitoring {
  h2 {
    margin-bottom: 0;
    Margin-bottom: 0;
  }

  .columns {
    padding-bottom: 0;
  }
}

.container.footer {
  background: #242526;

  p {
    color: #FFFFFF;
    margin-bottom: 0;
    Margin-bottom: 0;
    line-height: 1;
  }

  a {
    color: #FFFFFF;
  }

  hr {
    border-bottom: 1px solid #494b4c;
    margin: $global-padding auto;
    Margin: $global-padding auto;
  }

  .footer__icon {
    display: inline;
    vertical-align: middle;
  }
}

.unsubscribe {
  background: #191919;

  p {
    font-size: 12px;
  }

  .columns {
    padding-bottom: 0;
  }
}

.view {
  p {
    margin-bottom: 0;
    Margin-bottom: 0;
    font-size: 16px;
  }

  .columns {
    padding-bottom: 0;
  }
}