---
subject: Tenzor
---

<container>
    <row class="collapse">
        <columns>
            <img src="assets/img/header.jpg" alt="">
        </columns>
    </row>
</container>

<container class="content">
    <row>
        <columns>
            <h2 class="text-center">НОВОСТИ</h2>
        </columns>
    </row>
    <row class="news">
        <columns small="12" large="4">
            <p class="news__time">11.09.2015</p>
            <p class="news__entity"><a href="#">Tenzor Consulting Group – Генеральный Партнер Первого Осеннего SuperМарафона!</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">09.09.2015</p>
            <p class="news__entity"><a href="#">Команда Tenzor Consulting Group - участник русской парусной недели Volvo</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">05.09.2015</p>
            <p class="news__entity"><a href="#">Поддержка европейских инвесторов одно из ключевых направлений деятельности юридической
                Компании Tenzor Consulting Group</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">ПУБЛИКАЦИИ</h2>
        </columns>
    </row>
    <row class="news">
        <columns small="12" large="4">
            <p class="news__time">31.08.2015</p>
            <p class="news__entity"><a href="#">Правовые основы реализации драгоценных камней</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">19.04.2015</p>
            <p class="news__entity"><a href="#">Готовим дипломы для суда. О введении в действие Кодекса административного
                судопроизводства</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">03.07.2015</p>
            <p class="news__entity"><a href="#">Машино-место как объект недвижимого имущества</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">КОМЕНТАРИИ</h2>
        </columns>
    </row>
    <row class="news">
        <columns small="12" large="4">
            <p class="news__time">11.09.2015</p>
            <p class="news__entity"><a href="#">Tenzor Consulting Group – Генеральный Партнер Первого Осеннего SuperМарафона!</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">09.09.2015</p>
            <p class="news__entity"><a href="#">Поддержка европейских инвесторов одно из ключевых направлений деятельности юридической
                Компании Tenzor Consulting Group</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="news__time">05.09.2015</p>
            <p class="news__entity"><a href="#">Команда Tenzor Consulting Group - участник русской парусной недели Volvo</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row class="welcome">
        <columns>
            <p class="welcome__text text-center">Добрый день!</p>

            <p class="welcome__text text-center">Представляем Вашему вниманию еженедельный мониторинг (обзор) актуальных изменений в
            законодательстве за период с 21 сентября по 25 сентября 2015 года, подготовленный специалистами юридической
            компании TenzorConsultingGroup.</p>

            <p class="welcome__text text-center">В данном выпуске обзора приводятся наиболее важные нормативные акты,
            представляющие интерес для российского бизнеса.</p>

            <center>
                <img src="assets/img/pdf_icon.png" alt="">
            </center>
            <p class="welcome__download text-center"><a href="#">Скачать PDF</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">ГРАЖДАНСКОЕ ПРАВО</h2>

            <spacer size="10"></spacer>
            <center>
                <img src="assets/img/number_1.png" alt="">
            </center>
            <spacer size="20"></spacer>
            
            <p class="strong-p">Постановление Правительства РФ от 17.09.2015 года № 987 «О внесении изменений в стандарты
                раскрытия
                информации субъектами оптового и розничных рынков электрической энергии»</p>

            <p>С 29 сентября 2015 года территориальные сетевые организации обязаны будут опубликовывать на своем
                официальном сайте или на ином официальном сайте в сети Интернет, определяемом Правительством РФ, и (или)
                в
                периодическом печатном издании, в котором публикуются нормативные правовые акты органа исполнительной
                власти
                субъекта РФ в области регулирования тарифов, информацию о прогнозных сведениях о расходах за
                технологическое
                присоединение на очередной календарный год. При этом определен срок для совершения данного действия –
                «за 10
                дней до представления в регулирующий орган прогнозных сведений о расходах за технологическое
                присоединение
                на очередной календарный год».</p>

            <p>Теперь, территориальные сетевые организации должны будут раскрывать:</p>
            <p>- информацию о прогнозных сведениях о расходах за технологическое присоединение;</p>
            <p>- информацию о стандартизированных тарифных ставках для расчета платы за технологическое присоединение к
                территориальным распределительным сетям на уровне напряжения ниже 35 кВ и присоединяемой мощностью менее
                8900 кВт;</p>
            <p>- информацию о расходах на мероприятия, осуществляемые при технологическом присоединении;</p>
            <p>- информацию о расчете необходимой валовой выручки сетевой организации на технологическое
                присоединение;</p>
            <p>- информацию о фактических средних данных о присоединенных объемах максимальной мощности за 3 предыдущих
                года по каждому мероприятию;</p>
            <p>- информацию о фактических средних данных о длине линий электропередачи и об объемах максимальной
                мощности построенных объектов за 3 предыдущих года по каждому мероприятию;</p>
            <p>- информацию об осуществлении технологического присоединения по договорам, заключенным за текущий год;</p>
            <p>- информацию о поданных заявках на технологическое присоединение за текущий год.</p>

            <p>Помимо этого, Правительство РФ утвердило соответствующие формы раскрытия информации.</p>

            <spacer size="8"></spacer>
            <center>
                <img src="assets/img/number_2.png" alt="">
            </center>
            <spacer size="20"></spacer>

            <p class="strong-p">Постановление Правительства РФ от 21.09.2015 года № 997 «О приостановлении действия пункта 2
                Постановления Правительства Российской Федерации от 1 декабря 2012 г. № 1240 «О порядке и размере
                возмещения процессуальных издержек, связанных с производством по уголовному делу, издержек в связи с
                рассмотрением гражданского дела, административного дела, а также расходов в связи с выполнением
                требований Конституционного Суда Российской Федерации и о признании утратившими силу некоторых актов
                Совета Министров РСФСР и Правительства Российской Федерации»</p>

            <p>Правительством РФ приостановлено до 01 января 2016 года действие нормы, предусматривающей увеличение
                (индексацию) размера возмещения процессуальных издержек, связанных cпроизводством по уголовному делу,
                издержек в связи с рассмотрением гражданского или административного дела, а также расходов в связи с
                выполнением требований Конституционного Суда Российской Федерации.</p>

            <spacer size="10"></spacer>
            <center>
                <img src="assets/img/number_3.png" alt="">
            </center>
            <spacer size="16"></spacer>

            <p class="strong-p">Постановление Правительства РФ от 21.09.2015 года № 1003 «О типовом договоре аренды лесного
                участка»</p>

            <p class="last-p">Правительством РФ утверждена типовая форма договора аренды лесного участка, которая будет применяться в
                отношении всех видов использования лесов, предусмотренных частью 1 статьи 25 Лесного кодекса РФ. Типовая
                форма содержит такие характеристики лесного участка, как: площадь, местоположение, описание границ
                лесного участка и иные. В типовом договоре аренды лесного участка определены права и обязанности сторон,
                их ответственность, порядок расторжения или изменения договора, порядок расчета арендной платы и
                т.д.</p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">СУДЕБНАЯ ПРАКТИКА</h2>

            <spacer size="10"></spacer>
            <center>
                <img src="assets/img/number_1.png" alt="">
            </center>
            <spacer size="16"></spacer>

            <p class="strong-p">Решение Верховного Суда РФ от 19.08.2015 года № АКПИ 15-608</p>

            <p>Верховный Суд РФ признал недействующим приложение к приказу Федеральной службы по тарифам от 27 ноября
                2014г. N 277-э/2 "Об утверждении платы за технологическое присоединение объектов по производству
                электрической энергии (объектов электросетевого хозяйства) ОАО "Богучанская ГЭС" к объектам единой
                национальной
                (общероссийской) электрической сети ОАО "ФСК ЕЭС" в части утверждения в графе 3 предельного
                максимального уровня платы за технологическое присоединение с разбивкой по предельной максимальной
                стоимости
                мероприятий в рублях (без НДС).</p>

            <p>В обоснование данного вывода Верховный Суд РФ указал, что, «утверждая предельный
                максимальный уровень платы за технологическое присоединение с разбивкой по предельной максимальной
                стоимости мероприятий (графа 3 Приложения к приказу N 277-э/2), ФСТ России осуществило нормативное
                правовое регулирование, которое противоречит федеральному закону и иным нормативным правовым актам,
                имеющим
                большую юридическую силу.</p>

            <p>Так, абзацем третьим пункта 2 статьи 23.2 Федерального закона N 35-ФЗ предусмотрено, что
                затраты на проведение мероприятий по технологическому присоединению, в том числе расходы сетевой
                организации на строительство и (или) реконструкцию необходимых для технологического присоединения
                объектов электросетевого хозяйства, включаются в расходы сетевой организации, учитываемые при
                установлении
                тарифов на услуги по передаче электрической энергии и (или) платы за технологическое присоединение. При
                этом не допускается включение расходов сетевой организации, учтенных при установлении тарифов на услуги
                по
                передаче электрической энергии, в состав платы за технологическое присоединение и расходов, учтенных при
                установлении платы за технологическое присоединение, в состав тарифов на услуги по передаче
                электрической
                энергии.</p>

            <p>Из анализа Приложения к приказу N 277-э/2 с учетом пункта 16 Методических указаний по определению размера
                платы за технологическое присоединение к электрическим сетям, утвержденных приказом ФСТ России от 11
                сентября 2012г. N 209-э/1, следует, что подготовка и выдача сетевой организацией технических условий
                заявителю
                (ТУ), разработка сетевой организацией проектной документации по строительству, проверка сетевой
                организацией
                выполнения заявителем ТУ, участие в осмотре должностным лицом Ростехнадзора присоединяемых устройств
                заявителя, фактические действия по присоединению и обеспечению работы устройств в электрической сети
                относятся к числу расходов на выполнение сетевой организацией обязательных мероприятий.Поскольку
                перечисленные затраты по видам мероприятий были включены в расходы сетевой организации при установлении
                тарифов на услуги по передаче электрической энергии, они не подлежали включению в состав платы за
                технологическое присоединение ОАО "Богучанская ГЭС" к объектам ЕНЭС в размерах, которые ранее уже были
                учтены».</p>

            <spacer size="10"></spacer>
            <center>
                <img src="assets/img/number_2.png" alt="">
            </center>
            <spacer size="16"></spacer>

            <p class="strong-p">Определение Верховного Суда РФ от 11.09.2015 года № 305 – КГ15 – 6506</p>

            <p>Верховный Суд РФ высказал позицию, согласно которой из системного анализа положений главы 25 "Налог на
                прибыль организаций" Налогового кодекса РФ следует, что понятия "убыток" и "ущерб" являются
                равнозначными и их возникновение влечет одинаковые налоговые последствия для налогоплательщика.</p>

            <p>Произведенные обществом затраты в виде уплаты неосновательного обогащения за использование помещений без
                законных оснований по существу представляют арендную плату, подлежащую уплате за такое использование
                объекта в целях
                осуществления предпринимательской деятельности. Учитывая, что понесенные расходы документально
                подтверждены и отвечают
                критериям, установленным пунктом 1 статьи 252 и пунктом 1 статьи 265 Налогового кодекса РФ, общество
                вправе было включить уплаченные суммы упущенной выгоды в состав внереализационных расходов.</p>

            <spacer size="10"></spacer>
            <center>
                <img src="assets/img/number_3.png" alt="">
            </center>
            <spacer size="16"></spacer>

            <p class="strong-p">Определение Верховного Суда РФ от 16.09.2015 года № 304 – КГ15 – 5008</p>

            <p>Верховный Суд РФ пояснил, что установленные на основании локального акта организации спорные
                компенсационные выплаты (возмещение расходов по найму жилья на новом месте жительства) носят социальный
                характер и, несмотря на то, что они произведены в связи с наличием трудовых отношений, указанные выплаты
                не обладают
                признаками заработной платы в смысле статьи 129 Трудового кодекса Российской Федерации, поскольку не
                являются оплатой труда (вознаграждением за труд), не относятся к стимулирующим выплатам, не зависят от
                квалификации работника, сложности, качества, количества и условий выполнения этим сотрудником самой
                работы. Эти
                выплаты произведены не в рамках трудовых отношений. Факт наличия трудовых отношений между работодателем
                и его работниками сам по себе не свидетельствует о том, что все выплаты, которые начисляются работникам,
                представляют собой оплату их труда.</p>

            <p class="last-p">Поэтому такие выплаты не подлежат включению в базу, облагаемую страховыми взносами.</p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">ГОСЗАКУПКИ</h2>

            <p class="strong-p">Письмо Минэкономразвития России от 21.08.2015 года № Д28и-2475 «О разъяснениях, связанных с
                применением
                Федерального закона от 5 апреля 2013 г. № 44-ФЗ»</p>

            <p>Минэкономразвития России пояснило, что аукционная комиссия обязана отстранить участника закупки в случае
                предоставления недостоверной информации, указанной в первой части заявки, на любом этапе до момента
                подписания протокола подведения итогов такого аукциона либо протокола рассмотрения единственной заявки
                на участие в таком аукционе.</p>

            <p>Одновременно, Минэкономразвития России сообщило, что в силу части 2 статьи 70
                Федерального закона от 05.04.2013 г. № 44-ФЗ «О контрактной системе в сфере закупок товаров, работ,
                услуг для обеспечения государственных и муниципальных нужд» победитель аукциона не может в протоколе
                разногласий указать информацию о товаре, которая не была указана в извещении о проведении такого
                аукциона,
                документации о нем и его заявке на участие в таком аукционе в соответствии частью 4 статьи 70 этого
                закона.</p>

            <p>«В случае, если победитель электронного аукциона направил протокол разногласий с предложением поставить
                другой товар, заказчик повторно размещает в единой информационной системе проект контракта с указанием в
                отдельном
                документе причин отказа учесть полностью или частично содержащиеся в протоколе разногласий замечания
                победителя такого аукциона.</p>

            <p class="last-p">В случае если в сроки, предусмотренные статьей 70 вышеназванного закона,
                победитель электронного аукциона не направил заказчику проект контракта, подписанный лицом, имеющим
                право действовать от имени победителя такого аукциона, то победитель электронного аукциона признается
                уклонившимся от заключения контракта».</p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <h2 class="text-center">НАЛОГОВОЕ ПРАВО</h2>

            <p class="strong-p">Приказ ФНС России от 20.08.2015 года № СА-7-6/364@ «Об утверждении порядка формирования усиленной
                неквалифицированной электронной подписи налогоплательщика»</p>

            <p>ФНС России указало, что усиленная неквалифицированная электронная подпись, используется при передаче
                налогоплательщиками - физическими лицами в налоговый орган через личный кабинет налогоплательщика
                документов в электронной форме.</p>

            <p>В данном приказе закреплены положения о порядке создания ключа электронной подписи и
                сертификата ключа проверки электронной подписи, подписания электронных документов усиленной
                неквалифицированной электронной подписью, аннулирования сертификата ключа проверки электронной
                подписи.</p>

            <p class="last-p">При этом, предусмотрено, что создание и направление сертификатов ключей проверки электронной подписи
                налогоплательщикам в электронной форме через личный кабинет налогоплательщика, аннулирование выданных
                сертификатов ключей проверки электронных подписей, предоставление налогоплательщикам через личный
                кабинет налогоплательщика средств электронной подписи, обеспечивающих возможность создания ключа
                электронной подписи и усиленной неквалифицированной электронной подписи, ведение реестра выданных и
                аннулированных
                сертификатов ключей проверки электронных подписей обеспечивается Межрегиональной инспекцией ФНС России
                по централизованной обработке данных при взаимодействии налоговых органов и налогоплательщиков.</p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row class="view">
        <columns>
            <p class="text-center">* Обзор подготовлен юристами Tenzor Consulting Group<br> <a href="http://tencon.ru/">www.tencon.ru</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row class="monitoring">
        <columns>
            <h2 class="text-center">МОНИТОРИНГ ЗАКОНОДАТЕЛЬСТВА</h2>
            <spacer size="20"></spacer>
            <center>
                <img src="assets/img/logo.jpg" alt="">
            </center>
            <spacer size="20"></spacer>
        </columns>
    </row>
    <row>
        <columns small="2" large="3">&nbsp;</columns>
        <columns small="8" large="6">
            <button class="btn-link expand" href="#">НОВОСТИ</button>
            <spacer size="10"></spacer>
            <button class="btn-link expand" href="#">КОМЕНТАРИИ</button>
            <spacer size="10"></spacer>
            <button class="btn-link expand" href="#">ПУБЛИКАЦИИ</button>
            <spacer size="10"></spacer>
            <button class="btn-link expand" href="#">КОНТАКТЫ</button>
            <spacer size="10"></spacer>
        </columns>
        <columns small="2" large="3">&nbsp;</columns>
    </row>
</container>

<container class="footer">
    <spacer size="20"></spacer>

    <row>
        <columns small="12" large="4">
            <p><img class="footer__icon" src="assets/img/phone_icon.png" alt="">&nbsp; <a href="tel:+74957253947">+7 (495) 725-39-47</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="text-center small-text-left"><a href="#">www.tencon.ru</a></p>
        </columns>
        <columns small="12" large="4">
            <p class="text-right small-text-left"><img class="footer__icon" src="assets/img/email_icon.png" alt="">&nbsp; <a href="mailto:mail@tencon.ru">mail@tencon.ru</a></p>
        </columns>
    </row>

    <wrapper class="line"><hr></wrapper>

    <row>
        <columns>
            <center>
                <menu>
                    <item href="#"><img src="assets/img/soc_f.jpg" alt=""></item>
                    <item href="#"><img src="assets/img/soc_y.jpg" alt=""></item>
                    <item href="#"><img src="assets/img/soc_t.jpg" alt=""></item>
                    <item href="#"><img src="assets/img/soc_l.jpg" alt=""></item>
                    <item href="#"><img src="assets/img/soc_p.jpg" alt=""></item>
                </menu>
            </center>
        </columns>
    </row>

    <row class="unsubscribe">
        <columns>
            <spacer size="12"></spacer>
            <p class="text-center"><a href="#">Отписаться от рассылки</a></p>
            <spacer size="12"></spacer>
        </columns>
    </row>
</container>
